@media  only screen and (min-width:1024px) {
    html {
    scroll-behavior: auto;
   }
   
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
}

    .bars {
        display: none;
    }

    .navbar {
        display: none;
    }

    /* navbar */

    .navbar-responsive {
        width: 1348px;
        height: 52px;
        display: flex;
        justify-content: space-between;
        background-color: rgb(93, 76, 240);
    }
    
    .logo-responsive {
        cursor: pointer;
        font-weight: bold;
        color: #fff;
        margin-top: 17px;
        margin-left: 33px;
    }
    
    .li-responsive {
        transform: translate(0, -17px);
        display: inline-block;
        height: 52px;
    }
    
    .li-responsive:hover .sub-ul-responsive{
        display: block;
    }

        
    .li-responsive a {
        text-align: center;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        width: 80%;
        margin-right: 7px;
        margin-top: 17px;
        padding: 16px;
        transition: .3s ease;
    }
    

    .li-responsive a:hover{
        background: rgb(61, 61, 179);
        outline: none;
    }
    
    .li-responsive a:active{
            background: rgb(85, 85, 252);
            outline: none;
            color: rgb(14, 30, 53);
            }
    

    /* sub-navbar */
    
    .sub-ul-responsive {
        display: none;
        transform: translate(4px);
        position: absolute;
        background-color: rgb(43, 40, 124);
        z-index: 3;
        height: 303px;
    }

    .sub-li-responsive {
        list-style: none;
        width: 183px;
        text-align: center;
        z-index: 4;
        height: 11vh;
    }
    .sub-li-responsive a {
        width: 83%;
        z-index: 5;
    }

    .sub-li a:hover {
        background-color: rgb(100, 78, 226);
    }

    .fire {
        transform: translate(8px, 30px);
    }

    .bolt {
        transform: translate(10px, 33px);
    }

    
    .wind {
        transform: translate(10px, 33px);
    }

    .fire-2 {
        transform: translate(4px, 30px);
    }

    .bolt-2 {
        transform: translate(10px, 33px);
    }

    
    .wind-2 {
        transform: translate(4px, 29px);
    }
    
    /* contenido */

    .loq:hover {
        text-decoration-line: underline;
    }

    .article {
        width: 100%;
        background: rgb(20, 16, 27);
    }

    #check {
        display: none;
    }

    li {
        list-style: none;
    }

    .uno {
    display: block;
    margin: 0% auto;
    padding-bottom: 12px;
    width: 243px;
    height: 172px;
}

.dos {
    padding-bottom: 12px;
    width: 243px;
    height: 172px;
    display: block;
    margin: 0% auto;
  }

.tres {
    padding-bottom: 12px;
    height: 172px;
    width: 243px;
    display: block;
    margin: 0% auto;
  }

.cuatro {
    padding-bottom: 12px;
    width: 243px;
    height: 172px;
    display: block;
    margin: 0% auto;
  }

.quinto {
    padding-bottom: 12px;
    width: 243px;
    height: 172px;
    display: block;
    margin: 0% auto;
  }

.sexto {
    padding-bottom: 12px;
    width: 243px;
    height: 172px;
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
    display: block;
    margin: 0% auto;
}

.septima {
    padding-bottom: 12px;
    width: 243px;
    height: 172px;
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
    display: block;
    margin: 0% auto;
}

.octava {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
    display: block;
    margin: 0% auto;
}

.novena {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
    display: block;
    margin: 0% auto;
}

.decima {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
    display: block;
    margin: 0% auto;
}

.onceaba {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
    display: block;
    margin: 0% auto;
}

.doceaba {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
        display: block;
    margin: 0% auto;
}

.treceaba {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
        display: block;
    margin: 0% auto;
}

.catorceaba {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
        display: block;
    margin: 0% auto;
}

.quinceaba {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
        display: block;
    margin: 0% auto;
}

.dieciseisaba {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
        display: block;
    margin: 0% auto;
}

.diecisieteaba {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
        display: block;
    margin: 0% auto;
}

.dieciocho {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
        display: block;
    margin: 0% auto;
}

.diecinueve {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
        display: block;
    margin: 0% auto;
}

.veinte {
    padding-bottom: 12px;
    width: 263px;
    height: 172px;
        display: block;
    margin: 0% auto;
}


}
